<html>
    <head>
    <meta charset="utf-8">
        <title>Auto Resize Textarea in JavaScript | Codequs</title>
        <link rel="stylesheet" href="add-product.component.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul style = >
                <li><a href="#">Quản lý sản phẩm</a></li>
                <li><a href="#">Quản lý đơn hàng</a></li>
                <li><a href="#">Dữ liệu</a></li>
                <li><a href="#">Chăm sóc khách hàng</a></li>
                <li><a href="#">Thiết lập Shop</a></li>
                <li><a href="#">Trợ giúp</a></li>
                <li><a routerLink="/ckeditor" routerLinkActive="active" ariaCurrentWhenActive="page">Mô tả</a></li>
            </ul>
        </nav>
        <section>
            <div>
                <label class="mandatory" style = "width: 30%">*Tên sản phẩm:</label>
                <input type="textbox" placeholder = "Nhập vào">
            </div>
            <br>
            <div>
                <label class="mandatory" style = "width: 30%">*Loại hàng:</label>
                <select class="mandatory" style="width: 14%; height:100">
                    <option value="">Vest</option>
                    <option value="">Cavat</option>
                </select>
            </div>
            <br>
            <div class="optional">
                <span class = mandatory-icon> </span>
                <div><label style= "width: 20%"> Mô tả</label></div>
                <br>
                <iframe style = "width: 200%" src="/ckeditor"></iframe>
            </div>
            
        </section>

    </body>
</html>