

.cart-page{
  margin-top: 3%;
  margin-left: 6%;
}
.breadcrumbs{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 6%;
  padding-top: 1%;
  padding-left: 0.5%;
  background-color: rgb(30, 69, 105);
}
.breadcrumbs > a, .breadcrumbs p{
  display: inline-block;
  font-size: 15px;
  background-color: rgb(30, 69, 105);
}
.breadcrumbs > a{
  color :white;
  text-decoration: none;
}
.breadcrumbs > a :hover{
  color : rgb(53, 48, 186);
}
.container-fluid{
  margin-left: 2%;
}

#td-image{
  width: 300px;

}
.align-middle{
  position: relative;
  width: 200px;
}

th{
  text-align: center;
  background-color: rgb(30, 69, 105);
  color: white;
}
.pd-image{
  position: observe;
  object-fit: fill;
  width: 20%;

}

.pd-image >a>img{
  width: 100%;
  display: inline-block;
  float: left;

}
.pd-image >a{
  display: inline-block;
  float: left;

}
.pd-image >p{
  display: inline;
  display: inline-block;
  float: left;

}
/* p{
  color: red;
} */
.qty > input{
  width: 30px;
  height: 30px;
  text-align: center;
  /* line-height: 50px; */
  /* border: none; */
  background-color: rgb(30, 69, 105);
  border: none;
  color :white;
}

.qty >button{
  width: 30px;
  height: 31px;
  background: rgb(30, 69, 105);
  border-width: thin;
  border: none;
  color :white;
}

.cart-content >p{
  position: relative ;
}
.cart-content>p>span,.cart-content>h2>span{
  position: observe;
  right: 0%;
  box-align: right;
  color :red;
  text-align: right;
}

.voucher_content{
  padding-left: 2%;
  margin-right: 8%;
  border: solid;
  border-width: 1px;
  border-color: gray;
  border-bottom: none;
}
.voucher_content>i ,.voucher_content>p{
  padding-top: 10px;
  display: inline-block;
  margin-right: 3%;
  font-size: 15px;
}
.voucher_content>i{
  color :rgb(30, 69, 105);
  zoom : 120%
}
.list_voucher{
  color :rgb(114, 114, 210);
}

.delivery_content{
  padding-left: 2%;
  margin-right: 8%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}
.delivery_content>i ,.delivery_content>p{
  padding-top: 10px;
  display: inline-block;
  margin-right: 3%;
  font-size: 15px;
}
.delivery_content>i{
  color :rgb(30, 69, 105);
  zoom : 120%;
}
.delivery_voucher{
  color :rgb(114, 114, 210);
}


.oder_voucher{
  padding-left: 2%;
  margin-right: 8%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.oder{
  padding-top: 50px;
  text-align: right;
}
.oder_voucher>i,.oder_voucher>p{
  padding-top: 10px;
  display: inline-block;
  margin-right: 3%;
  font-size: 15px;
}

.oder_btn{
  padding-left: 2%;
  margin-right: 8%;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

.oder_btn>i,.oder_btn>p{
  padding-top: 10px;
  display: inline-block;
  margin-right: 3%;
  font-size: 15px;
}

.btn_wrapped{
  margin-right: 10%;
  margin-bottom: 1%;
}
.btn_wrapped>button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  zoom: 150%;
  background-color: rgb(30, 69, 105); ;
  border: none ;
  font-size: 10px;
  color: white;
}

td>button{
  border: none;
  background-color: white;
}
