<app-header></app-header>
<!-- cart content begin -->
<div class="cart-page">
  <div class="breadcrumbs">
    <a routerLink="" routerLinkActive="router-link-active" >Home</a>
    <p>&nbsp;/&nbsp;</p>
    <a >Cart</a>
  </div>
  <div class="container-fluid mt-4 mb-4">
      <div class="row">
          <div class="col-lg-11" >
              <div class="cart-page-inner">
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead class="thead-dark">
                              <tr>
                                <th></th>
                                <th style="width: 40%;">Sản phẩm</th>
                                <th style="width: 10%;">Đơn giá</th>
                                <th style="width: 10%;">Số lượng</th>
                                <th>Số tiền</th>
                                <th>Xóa</th>
                              </tr>
                          </thead>
                          <tbody class="align-middle" *ngFor="let pd of cart; let i = index">
                            <tr>
                              <td>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" style="margin-left: 45%;" [(ngModel)]="isChecked[i]" (change)="checkValue(isChecked[i],pd)">
                              </td>
                              <td id="td-image">
                                <div class="pd-image">
                                  <p>Product Name</p>
                                  <a href="#"><img src="https://cf.shopee.vn/file/e817ddfe4e070eadc0e1808d4aa84d6f" alt="Image"></a>
                                    <!-- <span>Product Name</span> -->
                                </div>
                            </td>
                            <td><del style="color: gray;">{{pd.initialPrice| currency: "VND"}}</del>{{pd.price| currency: "VND"}}</td>
                            <td>
                                <div class="qty">
                                    <button class="btn-minus" (click)="decreaseQty(pd,i)" ><b>-</b></button>
                                    <input type="text" [(ngModel)]="pd.amount" readonly>
                                    <button class="btn-plus" (click)="increaseQty(pd,i)"><b>+</b></button>
                                </div>
                            </td>
                            <td>{{pd.price*pd.amount| currency : "VND"}}</td>
                            <td><button (click)="deleteItem(pd)"><i class="bi bi-trash"></i></button></td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="voucherShop">
        <div class="voucher_content">
          <i class="bi bi-ticket"></i><p>Shop voucher giảm đến {{shopVoucher.value | currency :"VND"}}</p>
          <p class="list_voucher" (click)="showVoucher()" >Xen thêm voucher khác</p>
          <div class="voucher-content">
            <p >SHOP VOUCHER</p>
            <a href="">
              <p>Giảm{{vouchers[0].value | currency: "VND"}}</p>
              <p>Đơn tối thiểu{{vouchers[0].minPrice | currency: "VND"}}</p>
              <p>HSD: {{vouchers[0].expired}}</p>
            </a>
            <a href="">{{vouchers[1].value}}</a>
            <a href="">{{vouchers[2].value}}</a>
            <a href="">{{vouchers[3].value}}</a>
          </div>
        </div>
      </div>
      <div class="delivery">
        <div class="delivery_content">
          <i class="bi bi-truck"></i><p>Giảm ₫15.000 phí vận chuyển đơn tối thiểu ₫50.000; Giảm ₫25.000 phí vận chuyển đơn tối thiểu ₫99.000</p>
          <p class="list_voucher">tìm hiểu thêm</p>
        </div>
      </div>
      <div class="oder">
        <div class="oder_voucher">
          <i class="bi bi-ticket"></i><p>MANBUYA Voucher</p>
          <p class="list_voucher">Chọn hoặc nhập mã</p>
        </div>
      <div class="oder_btn">
        <p class="sum_price">Tổng thanh toán: {{sumPrice|currency : "VND"}}</p>
        <div class="btn_wrapped">
          <button  >Mua hàng</button>
        </div>
      </div>

      </div>
  </div>
</div>
<!-- cart content end -->
<app-footer></app-footer>
